table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: rgb(236, 231, 226)}
  
  th {
    background-color: #ecb08d;
    color: rgb(124, 90, 90);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  