<div class="container">
    <div class="row mt-3 mr-2">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://png.pngtree.com/png-clipart/20211116/original/pngtree-hotel-online-booking-concept-illustration-figure-png-image_6939837.png" height="280vh"  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">New Booking</h5>
                  <p class="card-text">To provide room booking, staff management and other necessary hotel management features.</p>
                  <a routerLink="/newBooking" class="btn btn-primary">New Booking</a>
                </div>
              </div>
        </div>
    </div>
    
    <div class="row mt-3 mr-2">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www.shutterstock.com/image-vector/isometric-tourists-choosing-hotel-booking-260nw-2013449429.jpg" height="255vh " alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Booking Details</h5>
                  <p class="card-text">The process of reserving a room in hotel for a specific date range and selecting the desired check-in and check-out dates.</p>
                  <a routerLink="/bookings" class="btn btn-primary">Booking Details</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-3 mr-2">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5ib5xg7PXXarqiEHyyWca2PXkGUCikeLMegKWJcuhiAX3nXYBapANnEgLimwmw7Jqhbg&usqp=CAU" height="280vh" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Room Modification</h5>
                  <p class="card-text">Hotel design involves the planning, drafting, design and development of hotels.</p>
                  <a routerLink="/rooms" class="btn btn-primary">Room Modify</a>
                </div>
              </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://images.pngnice.com/download/2110/Admin-Profile-PNG-File.png" height="260vh" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Staff Management</h5>
                  <p class="card-text">"Make a Booking" use case in a hotel booking system refers to the process of reserving a room in the hotel for a specific date range.</p>
                  <a routerLink="/users" class="btn btn-primary">Users</a>
                </div>
              </div>
        </div>
    </div>
</div>